{% extends 'bookstore/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="d-flex">
            <div class="flex-shrink-0">
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="User profile picture">
            </div>
            <div class="flex-grow-1 ms-3">
                <h2 class="account-heading">{{ user.username|capfirst }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class='form-group my-3'>
                <button class='btn btn-outline-info' type="submit">Update</button>
            </div>
        </form>


        <div>
            <hr class='my-2'>
            <h3 class='text-center'>Borrowed books</h3>
            <div class='container'>
                {% for book in user.book_set.all %}
                    <article class="media content-section">
                        <div class="media-body">
                            <div class="article-metadata">
                                <small><em>{{ book.author }}</em></small>
                                <a class='btn btn-secondary btn-sm mt-1 mb-1 float-end' href="{% url 'return-book' book.id %}">Return a book</a>
                            </div>
                            <h2 class="article-title">{{ book.title }}</h2>
                        <hr>
                        </div>
                    </article>
                {% endfor %}
            </div>
            
        </div>

    </div>

{% endblock content %}